.project-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: lightgrey;
  border-image: initial;
  overflow: hidden;
  border-radius: 5px;
}
.project-container .project-thumbnail {
  text-align: center;
  overflow: hidden;
  position: relative;
}

.project-container .project-thumbnail img {
  width: 100%;
  transition: 0.2s;
}

.project-container .project-thumbnail img:hover {
  transform: rotate(5deg) scale(1.2);
  filter: grayscale(0.8);
}

.project-detail {
  padding: 5px 10px;
  height: 100%;
  flex: 1;
}

.project-detail .project-title h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #006eff;
  cursor: pointer;
  transition: 0.1s;
}

.project-detail .project-description {
  color: grey;
}

.project-container .project-tags {
  white-space: nowrap;
  overflow-x: scroll;
  font-size: 0.7rem;
}

.project-container .project-tags span {
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 10px;
  border-width: 1px;
  border-style: dashed;
  border-color: initial;
  border-image: initial;
  margin: 5px;
}
