@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #808080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-high: #000000;
  --color-primary: #008b9b;
  --color-dark: #003a41;
  --color-secondary: #00e5ff;
  --font-primary: var(--font-alata);
  --font-secondary: var(--font-agdasima);
  --font-heading: var(--font-aldrich);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(45deg, #000, #001d30);
    --foreground: #ededed;
  }
  @theme inline {
    --color-high: #ffffff;
    --color-primary: #00aa77;
    --color-dark: rgb(0, 137, 152);
    --color-secondary: ##00aa33;
  }
}

body {
  background: var(--background) fixed;
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-aldrich);
}

p {
  font-family: var(--foreground);
}
